* {
    padding: 0;
    margin: 0;
}

.ia-button button{
    color: aliceblue;
    background-color: black;
    position: relative;
    margin-top: 3rem;
    margin-left: 40rem;
    width: 200px;
    font-size: 1rem;
    height: 2.5rem;
    border-color: aliceblue;
    border-radius: 1rem;

}

.ia-button button:hover {
    color: black;
    background-color: aliceblue;
}