* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.syber-content {
  padding: 8rem 2rem;
  border-top:1px solid #121023;
}

.syber-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  color: #0b0a1e;
  padding: 1rem;
  margin-top: -1rem;
  background-color: rgba(188, 75, 75, 0);
  border-left: 2px solid #000000;
}

#syber-grid1 {
  margin-left: 2rem;
  font-size: 1.8rem;
  background-color: rgba(214, 198, 196, 0);
  width: 40vw;
  height: 50vh;
}

/* ------------------ Fade-in animation */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
