* {
    padding: 0;
    margin: 0;
}

.career-hero-section {
    margin-top: 5rem;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 50vh;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    text-align: center;
    padding-top: 5rem;
    
}

.career-hero-section h1 {
    font-size: 4rem;
}
.career-hero-section h2 {
    margin-top: 1.2rem;
    font-size: 1.9rem;
}