/* HomeApp.css */
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Rajdhani', sans-serif;
}

.main { 
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -100;
}

.content {
  background-color: rgba(10, 10, 10, 0.525);
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
  align-items: center;
}

.AvenireHeader {
  position: relative;
  margin-top: 10rem;
  text-align: center;
  font-size: 2rem;
  margin-left: 1rem;
  background-color: #d3e01900;
  color: rgb(245, 245, 245);
}


/* ----------------------Vision component styles */
.vision-content {
   color: #cfc8c8;
   padding: 10rem;
   margin-top: -1rem;
   background-color: black;
}